#parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content: center;
    
}
#parent >div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
#clothing >h2 {
    justify-content: center;
    text-align: center;
}